body {
    background-color: $color-primary;
}
    
.clock {
    /*background-color: black;*/
    position: relative;
    width: 50%;
    min-width: 32em;
    margin-left: auto;
    margin-right: auto;

    &__control-panel {            
        position: relative;
        min-width: 32rem;
        min-height: 16rem;
        width: 25vw; 
        // height: 5vw;
        // width: 50rem;
        // height: 15rem;
        padding: 1.5rem 2rem;
        border: 2px solid #C04B2E;
        box-shadow: 0px 1rem 4rem rgba(30, 9, 9, .4); /*rgba(#1E0909, .6);*/
        margin: 2rem auto 4rem auto;            
        border-radius: 1rem;
    }

    &__control-reset {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0;

        @include disableMobileTap;
    }

    &__face {
        position: relative;
        min-width: 30rem;
        min-height: 30rem;
        width: 25vw; 
        height: 25vw;
        
        border: 2px solid #C04B2E;
        border-radius: 100%;
        box-shadow: 0px 1rem 4rem rgba(30, 9, 9, .6);
        background: linear-gradient(#1D3043 100%, green 100%);
        margin-left: auto;
        margin-right: auto;

        @include disableMobileTap;

        &-label {
            position: relative;
            font-size: 5rem;
            text-align: center;
        }
        
    }

}

#period {            
    margin-top: 15%;
}

#time {            
    margin-top: 25%;
}

.counter {
    width: 49%;
    display: inline-block;
    // border: 1px solid black;

    &__label {
        width: 100%;
        font-size: 1.6rem;
        text-align: center;
    }

    &__control {
        width: 100%;
        // border: 1px solid black;
        margin-top: 1rem;
        display: flex;
        justify-content: center;            
    }

    &__control-btn{
        width: 3rem;
        height: 3rem;
        border: none;
        color: white;
        font-size: 2rem;
        /* background-color: #1D3043; */
        background-color: #263F58;/*#3E678D;*/
        border: 1px solid black;;
        border-radius: 2px;       
        
        @include disableMobileTap;
    }

    &__display {
        width: 3rem;
        height: 3rem;
        font-size: 2.5rem;
        color: white;
        text-align: center;
        background-color: #7CA0C4;
        margin: 0 1rem;
        box-shadow: inset 0 5px 20px rgba(30, 9, 9, .4);;
        opacity: 0.6;
        border: 1px solid black;
        border-radius: 2px;
    }
}

.btn-full {
    min-width: 12em;        
    color: white;
    font-size: 1.6rem;
    line-height: 2;
    background-color: #263F58;
    border: 1px solid black;
    border-radius: 5rem;        
}
    
        
button:focus {
    outline: 0;
}
button:hover {
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(30, 9, 9, .2);
    // transform: translateY(-1px);
}
    
 
    
    
    
    
    
    
    .plus:hover, .minus:hover, #clock:hover {
    cursor: pointer;
    }
    
    footer {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
    
    .clicked {
    opacity: 0.6;
    }