body {
    color: white;
    font-family: "Lato", sans-serif;    
}

header {
    /*background-color: gray;*/
    color: #C04B2E;
    font-family: "Cabin Sketch", cursive;
    text-align: center;

    h1 {
        font-size: 6rem;
    }
    
    h3 {
        font-size: 2.5rem;
        // margin-top: -50px;
    }    
}

    